@model Borna.Application.DTOs.UserViewModels.ForgotPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">



<!-- Mirrored from atiyehahmadi.ir/ejuchamp/forget-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 Apr 2020 02:51:05 GMT -->
<head>

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="index-2.html" />
    <!-- OG -->
    <meta name="robots" content="index, follow">

    <meta name="keywords" content="Web Design, Education, Institute, Study" />
    <meta name="author" content="ThemeTrades" />
    <meta name="description"
          content="EduChamp is a Fully Creative Mobile Responsive HTML Template. It is designed specifically for University, College, School, Training centre or other educational institute." />

    <meta property="og:url" content="index-2.html" />
    <meta property="og:site_name" content="EduChamp : Education HTML Template" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_us" />
    <meta property="og:title" content="EduChamp : Education HTML Template" />
    <meta property="og:description"
          content="EduChamp is a Fully Creative Mobile Responsive HTML Template. It is designed specifically for University, College, School, Training center or other educational institute." />
    <meta property="og:image" content="preview.html" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="index-2.html">
    <meta name="twitter:title" content="EduChamp : Education HTML Template">
    <meta name="twitter:description"
          content="EduChamp is a Fully Creative Mobile Responsive HTML Template. It is designed specifically for University, College, School, Training centre or other educational institute.">

    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png" />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>اجوکمپ :قالب آموزشی</title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- All PLUGINS CSS ============================================= -->
    <partial name="_StylesRegisterAndLogin" />


</head>

<body id="bg">
    <div class="page-wraper">
        <div id="loading-icon-bx"></div>
        <div class="account-form">
            <div class="account-head" style="background-image:url(assets/images/background/bg2.jpg);">
                <a href="index.html"><img src="assets/images/logo-white-2.png" alt=""></a>
            </div>
            <div class="account-form-inner">
                <div class="account-container">
                    <div class="heading-bx left">
                        <h2 class="title-head">فراموشی <span>رمز عبور</span></h2>
                        <p>وارد شوید<a href="login.html">کلیک کنید</a></p>
                        @if (ViewBag.UserNull==true)
                        {
                            <p style="color:orangered">کاربری با این ایمیل یافت نشد</p>
                        }
                    </div>
                    <form class="contact-bx" asp-action="ForgotPassword" method="post">
                        <div class="row placeani">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label>پست‌الکترونیک</label>
                                        <input asp-for="Email" type="email"  required class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 m-b30">
                                <button  type="submit" value="Submit" class="btn button-md">ارسال</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- External JavaScripts -->
    <partial name="_ScriptRegisterAndLogin" />

</body>



<!-- Mirrored from atiyehahmadi.ir/ejuchamp/forget-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 Apr 2020 02:51:05 GMT -->
</html>