@model Borna.Domain.Entities.User.User
@{
    ViewData["Title"] = "ایمیل تغییر پسورد";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    <h2>@Model.UserName عزیز !</h2>
    <p> ، ایمیلی حاوی لینک تغییر پسورد به ایمیمل "@Model.Email" ارسال شد .</p>
    <p>جهت ادامه وارد ایمیل خود شوید و روی لینک کلیک کنید .</p>
</div>

